@model Bardcore.ViewModels.ProfilePlaylistVM
@* Listing out user-made playlists on profile*@
@foreach (var item in Model.allPlaylists)
{
    <option>@item.PlaylistName</option>
}
@{
    ViewData["Title"] = "PlaylistProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
